<%- include("header") -%>

<div class="box" id="heading">
  <h1><%= listTitle %></h1>
</div>

<div class="box">
  <% for (newItem of newListItems){ %>
  <div class="item">
    <input type="checkbox" />
    <p><%= newItem %></p>
  </div>

  <% } %>

  <form class="item" action="/" method="post">
    <input
      type="text"
      placeholder="New list item"
      name="listItem"
      autocomplete="off"
    />
    <button type="submit">+</button>
  </form>
</div>

<%- include("footer") -%>
